.tabs{
    list-style: none;
 
    padding: 0;
    margin: 0;
    display: flex;
    border-bottom: 2px solid gray;
    
}
.link{
    text-decoration: none;
    color: black;
}

.tabs > li{
    padding: 0.5em 1em;
    margin: 0 1em;;
}


.current {
    background-color: white;
    color: black;
    font-weight: bold;
    border: 2px solid gray;
    border-bottom: 0;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    position: relative;
}

.entrega{
    padding-top: 10px;
}