
.entrega{
    position: relative;
    left: -1.4rem;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    height: fit-content;
    
}

.tabs{
    width: 95%;
    display: flex; 

}

.link{
    text-decoration: none;
    color: rgb(59, 9, 240);
    font-size: larger;
    font-weight: 600;
}

.tabs  li{
    margin: 0 0.2rem;
    padding: 0.5em 1em;
    list-style: none;
}

.stand{
    background-color: #6e36f1;

    .link{
        color: rgb(255, 255, 255);
    }
}

.current {
    border-style: solid;
    border-bottom-style: none;
    border-radius: 0.9rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-color: rgb(223, 218, 218);
    margin-bottom: 0;
    color: white;
}

.content{
    position: relative;
    width: 86%;
    top: -1.0rem;
    padding: 1rem;
    margin-left: 2.7rem;
    border-left-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-color: rgb(223, 218, 218);
}

.infoEntrega{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    .info{
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;

        img{
            width: 5rem;
        }

        p{
            width: fit-content;
            text-align: justify;
        }
    }
  }

  .botoes{
      margin-top: 1rem;

    .btnParceiro{
        width: 100%;
        padding: 0.5rem;
        margin: 0.2rem;
        color: rgb(255, 255, 255);
        background-color: #6e36f1;
        font-size: 1.5em;
        border-radius: 0.4rem;
        border-style: none; 
    }
}
