.card{
    display: flex;
    width: 90%;
    margin-top: 20px;
    padding: 0;
    font-size: 15px;
    align-items: center;
    border-radius: 5px;
<<<<<<< HEAD
=======
    background-color: #234150;
>>>>>>> 8d2f5f8348ef1d9a4938a44e8e38bacc5c72fb5c
    
}

.info{
    margin-left: 0.5rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
<<<<<<< HEAD
    color: rgb(17, 16, 16);
=======
    // color: 
    colo
>>>>>>> 8d2f5f8348ef1d9a4938a44e8e38bacc5c72fb5c

    h2{
        font-size: 15px;
    }

    h3{
        font-size: 25px;
    }
    

}
.button1{
        
    padding: 0.2rem;
    margin: 0.2rem;
    color: rgb(255, 255, 255);
    background-color: rgb(85, 147, 241);
    font-size: 1.5em;
    border-radius: 0.4rem;
    border-style: none;
    
}
.button2{
        
    padding: 0.2rem;
    margin: 0.2rem;
    color: rgb(255, 255, 255);
    background-color: green;
    font-size: 1.5em;
    border-radius: 0.4rem;
    border-style: none;
    
}