.card{
    display: flex;
    width: 85%;
    margin-top: 20px;
    padding: 1rem;
    font-size: 15px;
    align-items: center;
    border-style: solid;
    border-radius: 1rem;
    border-color: rgb(223, 218, 218);
}

.info{
    margin-left: 0.5rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(44, 42, 42);

    .cabecalho{
        display: flex;
        padding-bottom: 0.4rem;
        justify-content: space-between;
        align-items: center;
        border-bottom-style: solid;
        border-color: rgb(223, 218, 218);
        
        h2{
            position: relative;
            bottom: -0.5rem;
            align-self: flex-end;
            font-size: 2em;
            color: #575757 ;
        }
        
        img{
            width: 3.5rem;
        }
    }
}

.buttons{
    border-top-style: solid;
    padding-top: 1rem;
    border-color: rgb(223, 218, 218);
}

.button1{     
    width: 100%;
    padding: 0.5rem;
    margin: 0.2rem;
    color: rgb(255, 255, 255);
    background-color: rgb(85, 147, 241);
    font-size: 1.5em;
    border-radius: 0.4rem;
    border-style: none;   
}

.button2{
    width: 100%;    
    padding: 0.5rem;
    margin: 0.2rem;
    color: rgb(255, 255, 255);
    background-color: green;
    font-size: 1.5em;
    border-radius: 0.4rem;
    border-style: none;   
}