.footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-content: center;
    background-color: rgb(43, 41, 41);
    margin-top: 50px;
}

.list{
    padding: 1rem;
    text-align: center;
}
