.footer{
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    width: 105%;
    align-content: center;
    background-color: #4a148c;
    margin-top: 50px;
}

.list{
    margin-bottom: 0.5rem;
    width: 100%;
    margin: 0 auto;

    ul{
        list-style: none;
        text-align: center;

        li{
            padding: 0.3rem;
            text-align: left;
            width: 90%;
            margin-bottom: 1rem;
            font-size: 1.4em;
            border-style: none none solid;
            border-color: rgba(190, 189, 186, 0.568);
        }
    }


}


