.footer{
    display: flex;
    flex-direction: column;
    width: 105%;
    align-content: center;
    background-color: #234150;
    margin-top: 50px;
}

.list{

    margin-bottom: 0.2rem;

    ul{
        list-style: none;
        text-align: center;

        li{
            margin-bottom: 1rem;
        }
    }

}


