.container{
  width: fit-content;
  margin: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
}

.text{
  color:black;
}

.title{
  color: black;
}

