  .container{
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 0;
    align-items: center;
    background-color: rgb(255, 255, 255);
  }

  .text {
    color: black;
  }

  .title{
      color: rgb(56, 56, 56);
      text-align: center;
  }

  .botaoAgendar{
    width: 100%;
    height: 3rem;
}

.data{
  padding:1rem;
  display:flex;
  align-items: center;

  input{
    display: flex;
    margin-left: 1rem;
    margin-top: 0.5rem;
  }
}

.combo{
  width: 100%;
  display:flex;
  justify-content: space-between;
}

.infoEntrega{
  padding: 1rem;
  font-size: 1.2em;
  justify-content: center;
}

.list{
  display: flex;
  flex-direction: column;
  color: rgb(56, 56, 56);
  padding: 1rem;
  background-color: rgba(204, 204, 243, 0.274);

  .infoParceiro{
    display:flex;
    flex-direction: row;

    p{
      padding: 0.5rem;
    }
  }

  img{
    width: 8rem;
  }
}

.selecServic{
  display: flex;
  margin-top: -1rem;
  color: rgb(33, 33, 34);
  justify-content: flex-start;

  p{
    font-size: 1.2em;
  }
}









