  .container{
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 0;
    align-items: center;
    background-color: rgb(255, 255, 255);
  }

  .text {
    color: black;
  }

  .title{
      color: rgb(56, 56, 56);
      text-align: center;
  }

  .botaoAgendar{
    width: 100%;
}

.data{
  padding:1rem;
  display:flex;
  align-items: center;

  input{
    display: flex;
    margin-left: 1rem;
    margin-top: 0.5rem;
  }
}

.combo{
  display:flex;
  justify-content: space-between;
}







