.container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  margin: auto;
  background-color: rgb(255, 255, 255);
}

.text{
  color:black;
}

.title{
  color: black;
}

