  .container{
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 0;
    align-items: center;
    background-color: rgb(255, 255, 255);
  }

  .text {
    color: black;
  }

  .title{
    color:black;
  }

  .botaoAgendar{
    width: 100%;
    color: blueviolet;
    font-size: 1em;
    border-color: rgb(118, 12, 218);
}







